p {
	font-size: 20px;
	color: white ;
  

}
#one {
    width: 20px;
    height: 20px;
}
#wand {
    width:250px; 
    height:250px;
}
	
#ad {
	background-image: url(image5.jpg);

}

#selfie {
	float: inherit;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

#bb{
    background-image:url(image1.jpg);
}

img{
    width: 200px;
    height: 200px;
}








